# Windows image file caches
Thumbs.db
ehthumbs.db

obj
bin
*.user
*.suo
*.orig
output
publish-*
packages
_ReSharper.*
_dotCover.*
*.Resharper
*.Cache
*.cache
~$*
[Pp]ublish
*.ide
*nunit.TestResult.*.xml
*.vsp

# Visual Studio build objects
bin/
csx/
obj/
rcf/

### Tools
/tools/*
!/tools/packages.config
# add local tools 
!/tools/LibZ.Tool*




src/build/tools/*
.tmp/*
stuff/*
.build
.secrets/*
dev/*
src/.vs/*
